/* Style for Travel Safety App */
* {
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

/* Styling for buttons */
button.btn-primary a {
    color: white
}

button.btn-outline-danger a {
    color: red
}

/* Styling for image on homepage */
img#homepage-image{
    width: 50%;
    align-self: center;
}


/* Styling for images displayed on destination_details page */
img.destination-details-image {
    height: 100px;
    width: 150px;
}

/* Styling for events displayed from Ticketmaster API */
img.event-image {
    height: 100px;
    width: 150px
}

table.event-display-table{
    padding: 15px;
    width: 1000px;
    text-align: center;
}

tr.event-table-rows{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Styling for destination_details tips table */
#destination-details-travel-tips-headers{
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    text-align: center
}

#destination-details-tip-text{
    text-align: left;
}

/* Styling for the view travel tips page */

.grid-container-four-columns{
    grid-template-columns: 90px 110px 110px 1000px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.grid-item{
    padding: 15px;
    text-align: center;
    display: inline-block
}

/* Profile styling  */

.profile-contact-container{
    grid-template-columns: auto auto auto;
    padding-bottom: 20px
}

.profile-contact{
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
}

.profile-vacation-grid{
    grid-template-columns: auto auto auto auto auto auto auto
}