/* Style for Travel Safety App */
* {
    font-family: sans-serif;
}

h2 {
    text-align: center;
}

/* Styling for navbar */
nav{
    background-color: rgb(195, 231, 217);
}

/* Styling for buttons */
button.btn-primary a {
    color: white
}

button.btn-outline-danger a {
    color: red
}

/* Styling for image on homepage */
img#homepage-image{
    width: 50%;
    align-self: center;
}


/* Styling for images displayed on destination_details page */
img.destination-details-image {
    height: 100px;
    width: 150px;
}

/* Styling for events displayed from Ticketmaster API */
img.event-image {
    height: 100px;
    width: 150px
}

table.event-display-table{
    padding: 15px;
    width: 1000px;
    text-align: center;
}

tr.event-table-rows{
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

/* Styling for destination_details tips table */
#destination-details-travel-tips-headers{
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    text-align: center
}

#destination-details-tip-text{
    text-align: left;
}

/* Styling for the view travel tips page */

.grid-container-four-columns{
    grid-template-columns: 90px 110px 110px 1000px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
}

.grid-item{
    padding: 15px;
    text-align: center;
    display: inline-block
}

/* Profile styling  */

.profile-contact-container{
    grid-template-columns: auto auto auto;
    padding-bottom: 20px
}

.profile-contact{
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
}

.profile-vacation-grid{
    grid-template-columns: auto auto auto auto auto auto auto
}

/* Styling for to-do list */
div#to-do-list-container-div{
    margin: 100px;
    
}

div.pack-bags-list{
    display: inline-block;
    padding: 15px;
}

ul li:hover {
    /* make darker background of list items when hovered over */
    background: rgb(224, 243, 236);
  }

ul li.checked {
    /* cross out and make darker items of list when checked */
    background: #b8d6cd;
    text-decoration: line-through;
}

/* ul li.checked::before {
    /* adds check mark once item is clicked on/checked */
    /* content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;  */
  /* } */