{% extends 'base.html' %} 
{% block title %}Add a Trip{% endblock %} 

{% block content %}

<h1>Add a New Trip to Your Profile</h1>

<form id="new-vacation-information" action="/add_new_vacation" method="POST">

    <div id="new-vacation-location">
        <label>Please enter the city and state</label>
        <label>State:</label><input type="text" name="state">
        <label>City:</label><input type="text" name="city">
    </div>
    <p></p>
    <div id="new-vacation-dates">
        <label>From:</label>
        <input type="date" id="new-vacation-departure-date" name="departure-date" min="2021-01-01" max="2022-12-31">
        <label>To:</label>
        <input type="date" id="new-vacation-arrival-date" name="arrival-date" min="2021-01-01" max="2022-12-31">
    </div>
    <p></p>
    <!-- <h4>Enter your information (this will not be made public):</h4>

    <div id="new-tip-user-information">
        <label>Your name:</label>
        <label>First name</label>
        <input type="text" name="fname">
        <label>Last name</label>
        <input type="text" name="lname">
        <label>Username:</label>
        <input type="text" name="username">
    </div> -->
    <input type="submit">
</form>

{% endblock %}