{% extends 'base.html' %} 
{% block title %}Destination Details{% endblock %}

{% block content %}

{% if tip_tags %}
<div>
    <h2>View Travel Tips for {{ city }}, {{ state }}</h2>
    <table id="destination-details-tip-table">
        <tr>
            <th>State:</th>
            <th>City:</th>
            <th>Tip:</th>
        </tr>
    {% for tip_tag in tip_tags %}
        <tr>
            <td>{{ tip_tag.tag.tag_state }}</td>
            <td>{{ tip_tag.tag.tag_city }}</td>
            <td>{{ tip_tag.tip.tip_text }}</td>
        </tr>

    {% endfor %}
    </table>
    <p><a href="/create_tip">Add a New Tip</a></p>
</div>
{% else %}  
    <h2>Sorry, there are no tips for {{ city }} or {{ state }} yet.</h2>
    <h4>You can add one <a href="/create_tip">here</a></h4>

{% endif %}

<h2>Events in {{ city }}, {{ state }} Between {{ departure_date.month }}/{{departure_date.day}}/{{ departure_date.year }}
    and {{ arrival_date.month }}/{{arrival_date.day}}/{{ arrival_date.year }}</h2>

<div id="destination-details-event-container-div">
    <table id="destination-details-event-table">
        
        {% for i in range(event_names|length) %}
        <tr class="destination-details-event-table-rows">

            <td id="destination-details-event-image">
                <img class="destination-details-image" src="{{ img_urls[i] }}">
            </td>

            <td id="destination_details-event-date-time">
                {{ start_dates[i] }} 

                {% if start_times[i] %}
                    <p>{{ start_times[i] }}</p>
                    </td>
                {% else %}
                    </td>
                {% endif %}

            <td id="destination-details-event-name">
                {{ event_names[i] }}
                {% if venues[i] %}
                    <p>At the {{ venues[i] }}</p>
                    <p>
                        <button class="btn btn-primary" type="button" id="destination-details-event-link-to-ticketmaster">
                        <a href="{{ event_urls[i] }}">Get Tickets Here</a>
                    </button>
                </p>
                {% endif %}
            </td>

            <p></p>
        {% endfor %}
        </tr>
    </table>
</div>

{% endblock %}