{% extends 'base.html' %} 
{% block title %}Travel Wise Home{% endblock %} 

{% block content %}

    <div class="homepage-div">
        <h1>Welcome!</h1>        
    

    <p class="homepage-paragraph">We are dedicated to helping people have safe and fun travels throughout the US. </p>
        
    <p class="homepage-paragraph">View tips from fellow travellers to get advice and plan for your upcoming trips
        <button class="btn btn-outline-primary"><a href="/view_travel_tips">View Tips Here</a></button>
    </p>
    <p class="homepage-paragraph">Search destinations to see travel advice and events 
        <button class="btn btn-outline-primary"><a href="/search_destination">Search Destinations</a></button>
    </p>
    <p class="homepage-paragraph">Create an account to add tips, save trips to your profile, and plan for your 
        trips with our personalizable packing lists
        <button class="btn btn-outline-primary"><a href="/create_account">Create Account</a></button>
    </p>
    <p class="homepage-paragraph">Thank you for visiting</p>
</div>
{% endblock %}