{% extends 'base.html' %} 
{% block title %}Travel Wise Home{% endblock %} 

{% block content %}
<div class="homepage-main-div">
    <div class="background-video">
        <video autoplay muted loop>
            <source src="static/videos/road-trip.mp4" type="video/webm">
        </video>
    </div>

    <header
      class="container-fluid d-flex justify-content-center align-items-center
             text-light"
    >
        <div class="row homepage-div">
          <div class="col">
            <h1>TravelWise</h1>
          </div>
        </div>
    </header>   

        <div class="col">
            <div class="homepage-about">
                <p class="homepage-paragraph">Dedicated to helping people have safe and fun travels throughout the US. </p>
            </div>
        </div> 
    
    <main class="container homepage-main"> 

        <div class="row homepage-cards">  

            <div class="col">
                <div class="card my-3">
                    <div class="card-body">
                        <p class="homepage-paragraph">View tips from fellow travellers to get advice and plan for your upcoming trips
                            <button class="btn btn-outline-primary"><a href="/view_travel_tips_page_1">View Tips Here</a></button>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card my-3">
                    <div class="card-body">
                        <p class="homepage-paragraph">Search destinations to see travel advice and events 
                            <button class="btn btn-outline-primary"><a href="/search_destination">Search Destinations</a></button>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card my-3">
                    <div class="card-body">
                        <p class="homepage-paragraph" id="homepage-account-paragraph">Create an account to add tips, save trips to your profile, and plan for your 
                            trips with our personalizable packing lists
                            <button class="btn btn-outline-primary"><a id="homepage-account-link" href="/create_account">
                                Create Account</a></button>
                        </p>
                    </div>
                </div>
            </div>
            
        <p class="homepage-paragraph" id="thank-you-homepage">Thank you for visiting</p>

    </div>
</main>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/js/homepage.js"></script>

{% endblock %}