{% extends 'base.html' %} 
{% block title %}Log In{% endblock %} 

{% block content %}

    <div class="login-page-div">
    <h1 id="login-header">Log In:</h1>


    <form id="login-form" action="/login" method="POST">

        <label>Username:</label>
        <input id="login-username-input" type="text" name="username">

        <label>Password:</label>
        <input id="login-password-input" type="password" name="password">

        <input id="login-submit-input" type="submit">
    </form>

    <div id="login-msg-div"></div>

    <img src="static/images/business-people-on-map.jpeg">
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/js/login.js"></script>
{% endblock %}