{% extends 'base.html' %} 
{% block title %}Log In{% endblock %} 

{% block content %}

<div class="login-background-video">
    <video autoplay muted loop>
        <source src="static/videos/two-ppl-hiking-stock-vid.mp4" type="video/webm">
    </video>
</div>

<div class="login-page-div">
        <header class="login-video-header">
            <h1 id="login-header">Log In:</h1>

            <form id="login-form" action="/login" method="POST">

                <label>Username:</label>
                <input id="login-username-input" type="text" name="username">

                <label>Password:</label>
                <input id="login-password-input" type="password" name="password">

                <input id="login-submit-input" type="submit">
            </form>

            <div id="login-msg-div"></div>
        </header>
    <!-- <img src="static/images/business-people-on-map.jpeg"> -->
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="static/js/login.js"></script>
{% endblock %}