{% extends 'base.html' %} 
{% block title %}Add a Travel Tip{% endblock %} 

{% block content %}

<h1>Add a New Travel Tip</h1>

<form id="new-tip-information" action="/add_new_tip" method="POST">
    <div id="tags">
        <label>Select tags:</label>
        <input type="checkbox" name="tags" value="money"><label>Money/Theft</label>
        <input type="checkbox" name="tags" value="food"><label>Food</label>
        <input type="checkbox" name="tags" value="health"><label>Health</label>
        <input type="checkbox" name="tags" value="lgbt"><label>LGBTQIA+</label>
        <input type="checkbox" name="tags" value="solo-travel"><label>Solo Travel</label>
        <input type="checkbox" name="tags" value="other"><label>Other</label>
    </div>
    <p></p>
    <div id="location">
        <label>Please enter the city and state, if applicable</label>
        <label>State:</label><input type="text" name="state">
        <label>City:</label><input type="text" name="city">
    </div>
    <p></p>
    <div id="tip-text">
        <label>Enter your tip here:</label>
        <textarea name="tip-text"></textarea>
    </div>
    <p></p>
    <h4>Enter your information (this will not be made public):</h4>

    <div id="new-tip-user-information">
        <label>Your name:</label>
        <label>First name</label>
        <input type="text" name="fname">
        <label>Last name</label>
        <input type="text" name="lname">
        <label>Username:</label>
        <input type="text" name="username">
    </div>
    <input type="submit">
</form>


{% endblock %}