{% extends 'base.html' %} 

{% block title %}Profile{% endblock %} 

{% block content %}

<h1>{{user.fname}}'s Profile</h1>

<h2>Your Trips:</h2>
{% if vacations %}
<div class="row" id="user-vacations-profile-header-grid-div">
    <div class="col-1"><h6><strong>From</strong></h6></div>
    <div class="col-1"><h6><strong>To</strong></h6></div>
    <div class="col-1"><h6><strong>State</strong></h6></div>
    <div class="col-1"><h6><strong>City</strong></h6></div>
    <div class="col-2"><h6><strong>See Events and Tips</strong></h6></div>
    <div class="col-2"><h6><strong>Edit Vacation</strong></h6></div>
    <div class="col-2"><h6><strong>View Packing List</strong></h6></div>
    <div class="col-2"><h6><strong>Delete Vacation</strong></h6></div>
</div>

<div id="profile-vacations-for-loop-container">
    {% for vacation in vacations %}
    <div class="row" id="user-vacations-profile-data-grid-div">
        <div class="col-1">{{ vacation.vacation_label.departure_date.month }} / {{ vacation.vacation_label.departure_date.day }}
            / {{vacation.vacation_label.departure_date.year}}</div>
        <div class="col-1">{{ vacation.vacation_label.arrival_date.month }} / {{ vacation.vacation_label.arrival_date.day }} /
            {{vacation.vacation_label.arrival_date.year}}</div>
        <div class="col-1">{{ vacation.vacation_label.state.state_name }}</div>
        <div class="col-1">{{ vacation.vacation_label.state.city.city_name }}</div>
        <div class="col-2"><button class="btn btn-outline-primary btn-sm" id="profile-see-desintation-btn">
            <a class="destination-links" href="/destination_details?state={{vacation.vacation_label.state.state_name}}&city={{ vacation.vacation_label.state.city.city_name }}&departure-date={{ vacation.vacation_label.departure_date }}&arrival-date={{ vacation.vacation_label.arrival_date }}">
                Events and Tips</a></button></div>
        <div class="col-2"><button class="edit-vacation-btn btn btn-outline-primary btn-sm"
             id="{{vacation.vacation_id}}">Edit</button></div>
        <div class="col-2"><button class="view-checklist-btn btn btn-outline-primary btn-sm">
            <a href="/travel_prep_checklist_vacation_{{vacation.vacation_id}}">View Checklist</a></button>
        </div>
        <div class="col-2"><button class="delete-vacay-btn btn btn-outline-danger btn-sm" 
            id="{{vacation.vacation_label.vacation_label_id}}">Delete</button></div>
    </div>
    {% endfor %}
</div>

<div id="user-vacations-after-delete-div"></div>

<div id="add-new-vacation"><button class="btn btn-primary"><a href="/create_vacation">Add A New Vacation to Profile</a></button></div>

{% else %}
    <h3>No trips yet, add one <a href="/create_vacation">here</a></h3>
{% endif %}


{% if event_names %}
<h2>Events Scheduled During Your Vacation</h2>

<div class="container" id="profile-event-container-div">
    
        {% for i in range(5) %}
            <div class="row">
    
                <div class="col-lg-2 col-md-3 col-sm-3 offset-1">
                    <img class="event-image" src="{{ img_urls[i] }}">
                </div>
    
                <div class="col-lg-2 col-md-3 col-sm-3">
    
                    {{ start_dates[i] }} 
                    {% if start_times[i] %}
                        <p>{{ start_times[i] }}</p>
                    {% endif %}
                </div>
    
                <div class="col-lg-7 col-md-6 col-sm-3">
                    {{ event_names[i] }}
                    {% if venues[i] %}
                        <p>At the {{ venues[i] }}</p>
                    {% endif %}
                    <p>
                        <button class="btn btn-primary" type="button" id="profile-event-link-to-ticketmaster">
                        <a href="{{ event_urls[i] }}">Get Tickets Here</a>
                    </button>
                </p>
            </div>
        </div>
    {% endfor %}
{% endif %}

<p></p>

<h3>Your Travel Tips:</h3>

{% if tip_tags %}
    <div id="view-tips-div">
        <!-- view-travel-tips-tip-data-div -->
        <div class="row" id="view-travel-tips-headers">
            <div class="col-1"><h4>Tag: </h4></div>
            <div class="col-1"><h4>State: </h4></div>
            <div class="col-1"><h4>City: </h4></div>
            <div class="col-8"><h4>Tip: </h4></div>
            <div class="col-1"><h4>Edit:</h4></div>
        </div>
        
        <!-- view-travel-tips-tip-data-div -->
        <div class="view-travel-tips-tip-data-div" id="view-travel-tips-tip-data-div">
        {% for tip_tag in tip_tags %}
        <!-- view-travel-tips-tip-data-div -->
        <div class="row" id="view-travel-tips-tip-data">
            <div class="col-1">{{ tip_tag.tag.tag_name }}</div>
            <!-- If the state is None, don't want to actually display None on page -->
            {% if tip_tag.tag.tag_state  %}
                <div class="col-1">{{ tip_tag.tag.tag_state }}</div>
            {% else %}
                <div class="col-1">     </div>
            {% endif %}
            <!-- If the city is None, don't want to actually display None on the page -->
            {% if tip_tag.tag.tag_city %}
                <div class="col-1">{{ tip_tag.tag.tag_city }}</div>
            {% else %}
                <div class="col-1">     </div>
            {% endif %}

            <div class="col-7">{{ tip_tag.tip.tip_text }}</div>

            <div class="col-2 edit-user-tip-div grid-item" id="{{tip_tag.tip_tag_id}}">
                <button class="btn btn-outline-primary btn-sm" id="edit-user-tip-btn" type="button">Edit Tip</button>
            </div>
        </div>
        {% endfor %}
        </div>
{% endif %}


<h2>{{ user.fname }} Contact Information</h2>
<div class="profile-contact-container grid-container" id="profile-user-contact-info-grid-container">
    <div class="profile-contact grid-item" id="edit-email-div"><strong>Email: {{ user.email }}</strong></div>
    <div class="profile-contact grid-item" id="edit-username-div"><strong>Username: {{ user.username }}</strong></div>
    <div class="profile-contact grid-item" id="edit-password-div"><strong>Password: {% for char in user.password %}*{% endfor %}</strong></div>
<p></p>
    <div class="profile-contact grid-item">
        <button class="btn btn-outline-dark btn-sm" id="edit-email-button" name="{{user.email}}">
            Update Email Address</button></div>
    <div class="profile-contact grid-item">
        <button class="btn btn-outline-dark btn-sm" id="edit-username-button" name="{{user.username}}">
            Change Username</button></div>
    <div class="profile-contact grid-item edit-password-div" id={{user.user_id}}>
        <button class="btn btn-outline-dark btn-sm" id="edit-password-button" name="{{user.password}}">
            Change Password</button></div>
</div>
<p></p>

<div class="delete-user-account" id="delete-account-div">
    <button class="btn btn-outline-danger" id="delete-account-button" name="{{user.user_id}}">Delete Account</button>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/js/edit_profile.js"></script>

{% endblock %}