{% extends 'base.html' %} 

{% block title %}Profile{% endblock %} 

{% block content %}

<h1>{{user.fname}}'s Profile</h1>

<h2>Your Trips:</h2>
<table>
    <tr>
        <th>Departure Date:</th>
        <th>Arrival Date:</th>
        <th>State:</th>
        <th>City:</th>
    </tr>
    
    {% for vacation in vacations %}
    <tr>
        <td>{{ vacation.vacation_label.departure_date }}</td>
        <td>{{ vacation.vacation_label.arrival_date }}</td>
        <td>{{ vacation.vacation_label.state.state_name }}</td>
        <td>{{ vacation.vacation_label.state.city.city_name }}</td>
        <td>See events and tips for this destination
            <a href="/destination_details?state={{vacation.vacation_label.state.state_name}}&city={{ vacation.vacation_label.state.city.city_name }}&departure-date={{ vacation.vacation_label.departure_date }}&arrival-date={{ vacation.vacation_label.arrival_date }}">
                here</a>
        </td>
    </tr>
    {% endfor %}
</table>

<div id="user-travel-tips">
    {% if tip_tags %}
    <h2>Your Travel Tips:</h2>
    <table>
        <tr>
            <th>Tag:</th>
            <th>State:</th>
            <th>City:</th>
            <th>Tip:</th>
        </tr>

        {% for tip_tag in tip_tags%}
        <tr>
            <td>{{ tip_tag.tag.tag_name }}</td>
            <td>{{ tip_tag.tag.tag_state }}</td>
            <td>{{ tip_tag.tag.tag_city }}</td>
            <td>{{ tip_tag.tip.tip_text }}</td>
        </tr>
        {% endfor %}
    {% else %}
    <h2>Your Travel Tips:</h2>
    <h4>None added yet, add one <a href="/create_tip">here</a></h4>
    {% endif %}
</div>

{% endblock %}