{% extends 'base.html' %} 
{% block title %}Search Destination{% endblock %} 

{% block content %}

<div class="search-destination-main-div" id="search-destination">
    <div class="row">
        <h1>Search Tips and Events for Your Destination</h1>
    </div>

    <form id="search-destination-form" action="/destination_details">
    
        <div class="row">
            <div class="col" id="state-city-input-div">
                <label for="state"><strong>State: </strong></label>
                <input id="search-destination-state-input" type="text" name="state" required aria-required="true">

                <label for="city"><strong>City: </strong></label>
                <input id="search-destination-city-input" type="text" name="city" required aria-required="true">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col" id="date-inputs-div">
                <label><strong>From: </strong></label>
                <input type="date" id="search-destination-departure-date" name="departure-date" required aria-required="true">
                <label><strong>To: </strong></label>
                <input type="date" id="search-destination-arrival-date" name="arrival-date" required aria-required="true">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col" id="submit-form-button-div">
                <button class="btn btn-primary" type="submit" id="submit-state-city-btn">Search</button>
            </div>
        </div>

    </form>
</div>

{% endblock %}