{% extends 'base.html' %} 
{% block title %}Search Destination{% endblock %} 

{% block content %}

<h1>Search Tips and Events for Your Destination</h1>

<div id="search-destination">

<form id="search-destination-form" action="/destination_details">
   
    <div id="state-city-input-div">
        <label for="state">State: </label>
        <input id="search-destination-state-input" type="text" name="state" required aria-required="true">

        <label for="city">City: </label>
        <input id="search-destination-city-input" type="text" name="city" required aria-required="true">
    </div>
    <p></p>
    <div id="date-inputs-div">
        <label>From:</label>
        <input type="date" id="search-destination-departure-date" name="departure-date" required aria-required="true">
        <label>To:</label>
        <input type="date" id="search-destination-arrival-date" name="arrival-date" required aria-required="true">
    </div>
    <p></p>
    <div id="submit-form-button-div">
        <button class="btn btn-primary btn-sm" type="submit" id="submit-state-city-btn" >Search</button>
    </div>
</form>
</div>

{% endblock %}