{% extends 'base.html' %}

{% block title %}To Do List{% endblock %}

{% block content %}

<div id="to-do-list-container-div" class="header">
    <h2>TO DO BEFORE YOU DEPART:</h2>
</div>

<ul class="to-do-list" id="travel-to-do-list-ul">
    <h5>Prepare For Your Trip: </h5>
    <li>Notify your bank</li>
    <li>Tell 1+ friend/family member about your trip.</li>
    <li>Check the weather report for your destination</li>
    <li>Verify check-in and check-out for your accommodation</li>

    <h5>Pack Your Bags:</h5>
    <strong>Clothes:</strong>
    <li>Shirts</li>
    <li>Pants</li>
    <li>Socks and undewear</li>
    <li>Comfortable walking shoes</li>
    <li>Small soft bag for dirty laundry</li>

    <strong>Toiletries:</strong>
    <li>Toothpaste and toothbrush</li>
    <li>Shampoo and conditioner</li>
    <li>Sunscreen</li>
    <li>Cleanser</li>
    <li>Moisturizer</li>
    <li>Prescriptions</li>
    <li>Bandaids/Small first-aid kit</li>
    <li>Menstrual products</li>
</ul>

{% endblock %}