{% extends 'base.html' %} 
{% block title %}All Travel Tips{% endblock %} 

{% block content %}

<h2 id="travel-tips-header">All Travel Tips:</h2>

<p><a href="/create_tip">Add a New Tip</a></p>

<div id="travel-tips-filter-div">
        <form id="travel-tips-filter-form">
        <div id="travel-tips-filter-tags">
            <label>Filter Tips By Tags:</label>
                <input type="radio" name="filter-tags"  value="money"><label>Money/Theft</label>
                <input type="radio" name="filter-tags" value="food"><label>Food</label>
                <input type="radio" name="filter-tags" value="health"><label>Health</label>
                <input type="radio" name="filter-tags" value="lgbt"><label>LGBTQIA+</label>
                <input type="radio" name="filter-tags" value="solo-travel"><label>Solo Travel</label>
                <input type="radio" name="filter-tags" value="roadtrips"><label>Roadtrip</label>
                <input type="radio" name="filter-tags" value="hiking"><label>Hiking/Backpacking</label>
                <input type="radio" name="filter-tags" value="camping"><label>Camping</label>
                <input type="radio" name="filter-tags" value="other"><label>Other</label>
            <input type="submit" id="tags-filter-submit">
        </form>
        <p></p>
        <form action="/view_travel_tips/filtered_by_location.json">
            <label>Or, Filter By Location:</label>
            <label for="state">State: </label>
            <input id="travel-tips-filter-state-input" type="text" name="state">
            <label for="city"> City: </label>
            <input id="travel-tips-filter-city-input" type="text" name="city">
            <input id="city-state-filter-submit" type="submit">
        </form>
        </div>
    
</div>

<div id="view-travel-tips-table-div">
<table id="view-travel-tips-table">
    <div id="view-travel-tips-header-row-div">
    <tr id="view-travel-tips-header-row">
        <th>Tag:</th>
        <th>State:</th>
        <th>City:</th>
        <th>Tip:</th>
    </tr>
    </div>
    <div id="view-travel-tips-page-one-items">
        
        {% for item in tip_tag_pages[1].values() %}
        <tr>
            <td>{{ item["tag_name"] }}</td>
            <td>{{ item["tag_state"] }}</td>
            <td>{{ item["tag_city"] }}</td>
            <td>{{ item["tip_text"] }}</td>
        </tr>
        {% endfor %}

    </div>
</table>
<button class="btn btn-primary" type="submit" id="view-tips-next-page-btn">Next Page</button>
</div>
<div id="view-filtered-tips-div"></div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/js/travel_tips.js"></script>

{% endblock %}