{% extends 'base.html' %}

{% block tips %}
{% if tip_tag_pages %}
    <div id="view-tips-div">
        <div class="row" id="view-travel-tips-headers">
            <!-- col-1 col-md-1 col-sm-1 -->
            <div class="col-lg-1 col-md-2 col-sm-2"><h4>Tag: </h4></div>
            <div class="col-lg-1 col-md-2 col-sm-2"><h4>State: </h4></div>
            <div class="col-lg-1 col-md-2 col-sm-2"><h4>City: </h4></div>
            <div class="col-lg-9 col-md-6 col-sm-6"><h4>Tip: </h4></div>
        </div>
        
        <div id="view-travel-tips-tip-data-div" aria-label="travel tips">
        {% for item in tip_tag_pages[page_num].values() %}
        <div class="row" id="view-travel-tips-tip-data">
            <div class="col-lg-1 col-md-2 col-sm-2">{{ item["tag_name"] }}</div>
            <!-- If the state is None, don't want to actually display None on page -->
            {% if item["tag_state"] %}
                <div class="col-lg-1 col-md-2 col-sm-2">{{ item["tag_state"] }}</div>
            {% else %}
                <div class="col-lg-1 col-md-2 col-sm-2">     </div>
            {% endif %}
            <!-- If the city is None, don't want to actually display None on the page -->
            {% if item["tag_city"] %}
                <div class="col-lg-1 col-md-2 col-sm-2">{{ item["tag_city"] }}</div>
            {% else %}
                <div class="col-lg-1 col-md-2 col-sm-2">     </div>
            {% endif %}
            <div class="col-lg-9 col-md-6 col-sm-6">{{ item["tip_text"] }}</div>
        </div>
        {% endfor %}
        </div>

        <div id="view-tips-page-number-div">
            {% if page_num > 1%}
            <button class="btn btn-primary btn-sm" type="submit" id="view-tips-prev-page-btn" aria-label="previous page">
                <a href="/view_travel_tips_page_{{ page_num-1 }}">&lt&lt</a></button>
            {% else %}
            <button class="btn btn-primary btn-sm" type="button" id="view-tips-prev-page-btn" aria-label="previous page disabled" disabled>
                &lt&lt</button>
            {% endif %}

            {% for page in pagination_obj.iter_pages(left_edge=2, left_current=2, right_current=5, right_edge=2) %} 
                {% if page %}
                    {% if page != page_num %}
                        <span class="travel-tips-page-nums">
                            <strong><a href="/view_travel_tips_page_{{page}}">{{ page }}</a></strong>
                        </span>
                    {% else %}
                        <span class="travel-tips-page-nums">
                            <strong aria-label="current page">{{ page }}</strong>
                        </span>
                    {% endif %}
                {% else %}
                    <span class="ellipsis">...</span>
                {% endif %}
                
            {% endfor %}

            {% if page_num+1 in tip_tag_pages.keys() %}
                <button class="btn btn-primary btn-sm" type="submit" id="view-tips-next-page-btn" aria-label="next page">
                    <a href="/view_travel_tips_page_{{ page_num + 1}}">&gt&gt</a></button>
            {% else %}
                <button class="btn btn-primary btn-sm" type="submit" id="view-tips-next-page-btn" aria-label="next page disabled" disabled>
                    &gt&gt</button>
            {% endif %}
        </div>
    </div>
{% else %}

<div id="empty-tip-tags-result">
    <h2>No tips yet, you can add one <a href="/create_tip">here</a></h2>
    <p></p>
</div>

{% endif %}

{% endblock %}