{% extends 'base.html' %} 
{% block title %}All Travel Tips{% endblock %} 

{% block content %}

<h2 id="travel-tips-header">All Travel Tips:</h2>

<p><a href="/create_tip">Add a New Tip</a></p>

<div id="travel-tips-filter-div">
        <form id="travel-tips-filter-form">
        <div id="travel-tips-filter-tags">
            <label>Filter Tips By Tags:</label>
                <input type="radio" name="filter-tags"  value="money"><label>Money/Theft</label>
                <input type="radio" name="filter-tags" value="food"><label>Food</label>
                <input type="radio" name="filter-tags" value="health"><label>Health</label>
                <input type="radio" name="filter-tags" value="lgbt"><label>LGBTQIA+</label>
                <input type="radio" name="filter-tags" value="solo-travel"><label>Solo Travel</label>
            <input type="submit" id="tags-filter-submit">
        </form>
        <p></p>
        <form action="/view_travel_tips/filtered_by_location.json">
            <label>Or, Filter By Location:</label>
            <label for="state">State: </label>
            <input id="travel-tips-filter-state-input" type="text" name="state">
            <label for="city"> City: </label>
            <input id="travel-tips-filter-city-input" type="text" name="city">
            <input id="city-state-filter-submit" type="submit">
        </form>
        </div>
    
</div>

<div id="view-travel-tips-table-div">
<table id="view-travel-tips-table">
    <div id="view-travel-tips-header-row-div">
    <tr id="view-travel-tips-header-row">
        <th>Tag:</th>
        <th>State:</th>
        <th>City:</th>
        <th>Tip:</th>
    </tr>
    </div>
    <div id="view-travel-tips-data-row-div">
    {% for i in range(tips|length) %}
        <tr id="view-travel-tips-table-data-rows">
            <td> {{ tags[i].tag_name.title() }}</td>
            <td>{{ tags[i].tag_state }}</td>
            <td>{{ tags[i].tag_city }}</td>
            <td>{{ tips[i].tip_text }}</td>
        </tr>
    {% endfor %}
    </div>
</table>
</div>
<div id="view-filtered-tips-div"></div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/js/filter_travel_tips.js"></script>

{% endblock %}