{% extends 'base.html' %} 
{% block title %}All Travel Tips{% endblock %} 

{% block content %}

<h2 id="travel-tips-header">All Travel Tips:</h2>

<p><a href="/create_tip">Add a New Tip</a></p>

<div id="travel-tips-filter-div">
        <form id="travel-tips-filter-form">
        <div id="travel-tips-filter-tags">
            <label>Filter Tips By Tags:</label>
                <input type="radio" name="filter-tags"  value="money"><label>Money/Theft</label>
                <input type="radio" name="filter-tags" value="food"><label>Food</label>
                <input type="radio" name="filter-tags" value="health"><label>Health</label>
                <input type="radio" name="filter-tags" value="lgbt"><label>LGBTQIA+</label>
                <input type="radio" name="filter-tags" value="solo-travel"><label>Solo Travel</label>
                <input type="radio" name="filter-tags" value="roadtrips"><label>Roadtrip</label>
                <input type="radio" name="filter-tags" value="hiking"><label>Hiking/Backpacking</label>
                <input type="radio" name="filter-tags" value="camping"><label>Camping</label>
                <input type="radio" name="filter-tags" value="other"><label>Other</label>
            <input type="submit" id="tags-filter-submit">
        </form>
        <p></p>
        <form action="/view_travel_tips/filtered_by_location.json">
            <label>Or, Filter By Location:</label>
            <label for="state">State: </label>
            <input id="travel-tips-filter-state-input" type="text" name="state">
            <label for="city"> City: </label>
            <input id="travel-tips-filter-city-input" type="text" name="city">
            <input id="city-state-filter-submit" type="submit">
        </form>
        </div>
</div>

<div id="view-tips-div">
    <div class="grid-container-four-columns" id="view-travel-tips-headers">
        <div class="grid-item"><h4>Tag: </h4></div>
        <div class="grid-item"><h4>State: </h4></div>
        <div class="grid-item"><h4>City: </h4></div>
        <div class="grid-item"><h4>Tip: </h4></div>
    </div>
    
    <div id="view-travel-tips-tip-data-div">
    {% for item in tip_tag_pages[page_num].values() %}
    <div class="grid-container-four-columns" id="view-travel-tips-tip-data">
        <div class="grid-item">{{ item["tag_name"] }}</div>
        <div class="grid-item">{{ item["tag_state"] }}</div>
        <div class="grid-item">{{ item["tag_city"] }}</div>
        <div class="grid-item">{{ item["tip_text"] }}</div>
    </div>
    {% endfor %}
    </div>

    <div id="view-tips-page-number-div">

        {% if page_num > 1%}
        <button class="btn btn-primary" type="submit" id="view-tips-prev-page-btn">
            <a href="/view_travel_tips_page_{{ page_num-1 }}">Previous Page</a></button>
        {% else %}
        <button class="btn btn-primary" type="button" id="view-tips-prev-page-btn" disabled>Previous Page</button>
        {% endif %}

        {% for page in pagination_obj.iter_pages(left_edge=2, left_current=2, right_current=5, right_edge=2) %} 
            {% if page %}
                {% if page != page_num %}
                    <strong><a href="/view_travel_tips_page_{{page}}">{{ page }}</a></strong>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class="ellipsis">...</span>
            {% endif %}
            
        {% endfor %}

        {% if page_num+1 in tip_tag_pages.keys() %}
            <button class="btn btn-primary" type="submit" id="view-tips-next-page-btn">
                <a href="/view_travel_tips_page_{{ page_num + 1}}">Next Page</a></button>
        {% else %}
            <button class="btn btn-primary" type="submit" id="view-tips-next-page-btn" disabled>Next Page</button>
        {% endif %}
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="static/js/travel_tips.js"></script>

{% endblock %}